.task-form-film {
    display: flex;
    margin: 20px 0;
}
.task-input-film {
    width: 320px;
    padding: 3px 10px;
    border-radius: 3px;
}
.task-film {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.tasks-film {
    margin: 20px 0;
}
.tasks-film p {
    font-weight: bold;
    font-size: 25px;
}
.btn-add-film {
    margin: 0 20px;
    background: deepskyblue;
    border-radius: 5px;
    padding: 3px 15px;
}
.btn-remove-film {
    width: 35px;
    height: 35px;
    font-size: 0;
    background: url("../img/remove.svg") 50% 50% no-repeat;
}
.filmName {
    width: 100%;
    padding: 3px 10px;

}
